* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)) ,url("images/anime-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-position: center;
}
.headertxt {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login {
    font-family:'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
}

.login-box{
    display: flex;
    justify-content: center;
    float: none;
    margin: 100px 150px;
}

.form-group {
    margin: 20px 0;
}

.login-left{
    background: rgba(255, 255, 255, 0.654);
    padding: 100px;
    border-radius: 10px;
}

.sign-up {
    text-decoration: none;
    margin: 20px 0;
}

.register {
    text-decoration: none;
}

.register:hover {
    text-decoration: underline;
    color: rgb(200, 117, 34);
}

.form-control{
    background-color: transparent !important;
}




